# Supabase
VITE_SUPABASE_URL=https://seu-projeto.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_5drwG2WzPvYNO4fhVD-cUg_8HSJW9sh

# URL da API backend (URL relativa - usa proxy do Vite)
VITE_API_URL=/api

# URL pública do backend (Ngrok)
VITE_PUBLIC_URL_NGROK=https://seu-dominio.ngrok-free.app
